<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNwgcTrd01xLuweum_dyUkHL_b93jFzfI</string>
	<key>GCM_SENDER_ID</key>
	<string>444945152051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacqueline.ChattAppProject</string>
	<key>PROJECT_ID</key>
	<string>chatt-app-project-8591a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatt-app-project-8591a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444945152051:ios:9d08c00f71f208e6aa8b46</string>
</dict>
</plist>